#wpfooter {
  display: none !important;
}

.pink {
  font-weight: bold;
  color: #ea2a6a;
  line-height: 10px;
  font-size: 11px;
  text-transform: uppercase;
}

#col-right {
  width: 27%;
  margin-top: 30px;
}

#col-left {
  position: relative;
  width: 72%;
}

p {
  text-decoration: none!important;
  color: #404040!important;
  font-style: normal!important;
}

input[type="submit"],
.gobackBtn {
  box-sizing: border-box;
  width: auto;
  display: inline-block;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.20);
  background: #26a7d9;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: .8rem;
  line-height: .8rem;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  text-indent: 0;
  height: 25px;
  padding: 5px 10px;
}

input[type="submit"]:hover,
.gobackBtn:hover,
.but_par:hover {
  background-color: #ea2a6a;
  color: #fff;
  transition: .2s;
}

.btnImpEtq {
  text-align: center;
  display: block;
  margin: 15px 0 0 40px;
}



input.edit {
  padding: 0 5px;
  margin: 0;
  border: none;
  background-color: #14b61c;
  font-size: 11px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  width: auto;
  padding: 0 10px;
  text-transform: none;
}

.zipMessage {
  margin-bottom: 5px;
  text-align: left;
  font-size: 11px;
}

.zipDownload {
  display: inline-block;
  padding: 0 5px;
  margin: 0;
  border: none;
  text-decoration: none;
  background-color: #14b61c;
  font-size: 11px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  width: auto;
  height: 20px;
  padding: 2px 7px;
  text-transform: none;
}

.zipDownload:hover,
.zipDownload:focus {
  background-color: #ea2a6a;
  color: #fff;
  transition: .2s;
}

input.delete {
  padding: 0 5px;
  margin: 0;
  border: none;
  background-color: #f6f6f6;
  font-size: 11px;
  cursor: pointer;
  color: #7d7c7c;
  width: 62px;
  height: 20px;
  box-shadow: none;
}

input.delete:hover {
  background-color: #d4cfcf;
}

#add_1 a {
  float: right;
  width: auto;
  padding: 5px;
  border-radius: 3px;
  background: #26a7d9;
  color: #fff;
  margin-left: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.10);
}

#add_1 a:hover {
  background: #ea2a6a;
}

.gobackBtn {
  position: absolute;
  top: 25px;
  left: 245px;
  text-decoration: none;
  font-style: normal;
  float: right;
  vertical-align: middle;
  padding: .4rem;
  background: #fff;
  color: #414141;
}

#poststuff {
  position: relative;
  min-width: 0;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.10);
  box-sizing: border-box;
  width: 98%;
}

.postbox {
  position: relative;
}

.adresses {
  width: 60%;
  margin-top: 40px;
  float: right;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1,
h2,
h3 {
  font-weight: 900!important;
  font-size: 14px!important;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

h1 {
  margin-top: 20px;
  font-size: 16px!important;
}

.adsLivraison {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  float: right;
  width: 49%;
  padding: 1rem;
  height: 250px;
  border: 1px solid #E5E5E5;
  font-size: 11px;
  line-height: 14px;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.10);
}

.adsFact {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  float: left;
  width: 49%;
  padding: 1rem;
  height: 250px;
  border: 1px solid #E5E5E5;
  font-size: 11px;
  line-height: 14px;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.10);
}

.reportTopBloc {
  position: relative;
  float: left;
  background: #fff;
  display: inline;
  padding: 1rem;
  height: 300px;
  border: 1px solid #E5E5E5;
  margin: 10px 1% 20px 0;
  font-size: 11px;
  line-height: 14px;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.10);
}

.reportTopBloc.topBlocA {
  width: 14%;
}

.reportTopBloc.topBloc2 {
  width: 20%;
}

.reportTopBloc.topBloc3 {
  width: 18%;
}

.reportTopBloc.topBloc4 {
  width: 16%;
}

.reportTopBloc .left {
  display: inline-block;
  width: 50%;
}

.reportTopBloc .right {
  display: inline-block;
  text-transform: uppercase;
  text-align: right;
  width: 38%;
}

.reportTopBloc label {
  display: inline-block;
}

.reportTopBloc .coll,
.reportTopBloc .colr {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

.reportTopBloc .coll input,
.reportTopBloc .colr input,
.reportTopBloc .coll label,
.reportTopBloc .colr label {
  box-sizing: border-box;
  display: inline-block;
  width: 48%;
  height: 24px;
}

.reportTopBloc .coll label,
.reportTopBloc .colr label {
  padding-left: 5px;
  text-transform: uppercase;
}

.blocscouleur {
  display: block;
  clear: both;
  margin: 20px 0;
}

.userID {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.paydiff {
  position: absolute;
  bottom: 40px;
  left: 20px;
}

select.urs {
  width: 10%;
}

.infosClient {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  width: 100%;
  padding: 1rem;
  height: 260px;
  border: 1px solid #E5E5E5;
  margin-top: 20px;
  font-size: 11px;
  line-height: 14px;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.10);
}

.infosClient p {
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  color: black;
  margin: 0;
  padding: 0;
}

.infosClient .widecenter {
  margin-top: 0;
}

.coteClient {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  width: 100%;
  padding: 1rem;
  height: 60px;
  border: 1px solid #E5E5E5;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 11px;
  line-height: 14px;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.10);
}

.coteClient form {
  display: inline-block;
}

.coteClient button {
  display: inline-block;
  border: 0;
  padding: 5px;
  border-radius: 3px;
  background: #26a7d9;
  color: #fff;
  cursor: pointer;
  margin-right: 5px;
  text-transform: uppercase;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.10);
}

.coteClient button:hover {
  background: #EA2A6A;
}

.coteClient button.btn2 {
  background: #14b61c;
}

.coteClient button.btn2:hover {
  background: #EA2A6A;
}

.coteClient button.btn3 {
  background: #EA2A6A;
}

.coteClient button.btn3:hover {
  background: #26a7d9;
}

.coteClient button.desactive {
  opacity: .2;
  cursor: not-allowed;
}

.logresult {
  display: inline-block;
  margin-left: 10px;
}

.hl {
  font-weight: 900;
  color: #26a7d9;
}

.form-wrap label {
  display: block;
  padding: 4px 0!important;
  height: 50px;
  font-style: normal!important;
}

.blocLeft {
  position: relative;
  width: 39%;
  height: 185px;
  float: left;
}

.tableau {
  background: #f6f6f6;
  padding: .5rem;
}

.blocRight {
  position: relative;
  width: 59%;
  float: right;
  height: 185px;
  overflow-y: scroll;
  border-bottom: 1px solid #E5E5E5;
}

.widefat.over {
  width: 100%;
}

#mywidefat input {
  width: 60px;
  font-size: 9px;
}

#mywidefat input.checkbox {
  width: 15px;
  font-size: 9px;
}

.widecenter {
  margin-top: 10px;
}

.widecenter td {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px dashed #e9e3e3;
}

.widecenter th {
  text-align: center;
  background: rgb(229, 229, 229);
  font-weight: bolder;
  font-size: 11px;
}

.widefat.nopad td {
  padding: 4px;
}

.widefat td img {
  max-width: 150px;
}



.but_par {
  float: right;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 3px;
  background-color: #fff;
  font-size: 12px;
  cursor: pointer;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  height: 20px;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.10);
  padding: 1px 10px 0;
}

.checkSt {
  height: 20px;
  float: none;
  text-align: center;
  margin-left: 40px;
  margin-right: 0;
  padding: 0 10px 1px;
}


.singlefile {
  font-size: 10px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}

.deleteproject {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.deleteprojectfile {
  border: none!important;
  width: 16px!important;
  height: 16px!important;
  display: block;
  background: transparent url(images/del.png) no-repeat!important;
  cursor: pointer;
  box-shadow: none!important;
}

.statuspaction {
  border: 1px solid #E5E5E5;
  position: relative;
  width: 300px;
  padding-top: 5px;
  background: #E5E5E5;
  margin-bottom: 10px;
  padding-left: 10px;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.10);
}

.statusp {
  border: 1px solid #E5E5E5;
  position: relative;
  width: 300px;
  height: 30px;
  padding: 5px;
  background: #E5E5E5;
  margin-bottom: 10px;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.10);
}

.statusCheck {
  border: 1px solid #E5E5E5;
  position: relative;
  width: 300px;
  height: 30px;
  padding: 5px;
  background: #E5E5E5;
  margin-bottom: 10px;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.10);
}

.statusCheckButtons {
  margin-top: 0;
}

.updater {
  display: block;
  margin-right: 5px;
  font-size: 11px;
  text-align: right;
  float: right;
}

input.radioBtn {
  -webkit-appearance: radio;
  border: none;
  box-shadow: none;
  background: none;
  width: 10px;
  height: 10px;
}

input.radioBtn[type=radio]:checked:before {
  background: none;
}

.statusCheck input,
.statusCheck label {
  display: inline-block;
}

.statusCheck .fa {
  font-size: 22px;
}

.statusCheck .fa-check-circle {
  color: #6aba20;
}

.statusCheck .fa-exclamation-circle {
  color: #F9B610;
}

.statusCheck .statusVerybad .fa-exclamation-circle {
  color: #ea2a6a;
}

.statusChecked {
  display: inline-block;
  width: 80px;
  margin-left: 10px;
  font-size: 10px;
  text-align: right;
}

.statusChecked2 {
  box-sizing: border-box;
  display: inline-block;
  float: right;
  background: white;
  width: 21px;
  height: 21px;
  border-radius: 14px;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.10);
}

.statusChecked2 .fa {
  font-size: 22px;
  margin-top: -1px;
  margin-left: 1px;
}

.statusChecked2 .fa-check-circle {
  color: #6aba20;
}

.statusChecked2 .fa-exclamation-circle {
  color: #F9B610;
}

.statusChecked2.statusVerybad .fa-exclamation-circle {
  color: #ea2a6a;
}

.statusChecked .fa {
  font-size: 22px;
}

.statusp2 {
  border: 1px solid #E5E5E5;
  position: relative;
  width: 300px;
  padding: 10px 5px;
  background: #E5E5E5;
  margin-bottom: 10px;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.10);
}

.statusp4 {
  border: 1px solid #E5E5E5;
  position: relative;
  width: 300px;
  height: 200px;
  padding: 5px;
  background: #E5E5E5;
  margin-bottom: 10px;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.10);
}

.statusp4 p {
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 28px;
  height: 28px;
}

.statusp #changestatus {
  position: absolute;
  top: 5px;
  left: 50px;
}

#changeplatnosc {
  position: absolute;
  top: 5px;
  left: 50px;
}

#shippingcompany {
  position: absolute;
  top: 0px;
  right: 0;
  width: 155px;
  font-size: 9px;
}

#tntn {
  position: absolute;
  top: 5px;
  right: 0;
  width: 155px;
  font-size: 14px;
}

#nbcolis {
  margin-top: 4px;
}

#poids_commende {
  margin-left: 14px;
}

.assu{
  display: inline-block;
  margin-left: 5px;
}
#assurance {
  margin-top: 4px;
  float: right;
}

.btnSavePoids {
  float: right;
}


#exan {
  position: absolute;
  top: 5px;
  left: 90px;
  width: 80px;
  font-size: 9px;
}

.inside {
  position: relative;
}

.inside p {
  clear: both;
}

.savebutt {
  width: 50px;
  height: 30px;
  float: right;
  margin-top: 8px;
}

.savebutt2 {
  position: absolute;
  right: 5px;
  top: -2px;
  width: 50px;
  height: 28px;
  float: right;
  margin-top: 8px;
}

.savebutt3 {
  width: 50px;
  height: 40px;
  margin-top: 8px;
  float: right;
  clear: both;
}

.savebutt4 {
  position: absolute;
  right: 0px;
  top: 5px;
  width: 50px;
  height: 28px;
  float: right;
}

.savebutt5 {
  position: absolute;
  right: 10px;
  top: -35px;
  width: 50px;
  height: 28px;
}

.savebutt6 {
  position: absolute;
  left: 10px;
  top: -35px;
  width: 50px;
  height: 28px;
  background: #3A9D2A;
}

.close {
  display: inline-block;
  float: right;
}

#seltopic {
  width: 321px;
  margin-left: 0px;
  float: left
}

#incon,
#incon2 {
  width: 100%;
  height: 70px;
  margin-top: 12px;
  float: left;
  clear: left
}

.comment_right {
  box-sizing: border-box;
  width: 98%;
  padding: 1rem;
  background: #E5E5E5;
  margin-bottom: 7px;
}

span.comm_title {
  color: #008ebb;
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 14px;
}

span.comm_title2 {
  color: #008ebb;
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 14px;
}

span.comm_title3 {
  color: #008ebb;
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 14px;
  margin-left: 15px;
}

span#annualselect {
  margin-top: 10px;
  width: 100%;
  position: relative;
  float: left;
  display: none;
}

.onlyprint {
  display: none;
}

#update-nag {
  display: none;
}

.print_footer {
  margin-left: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
}

.print_header {
  margin-left: 0;
  width: 100%;
}

.print_header td {
  width: 50%;
  font-style: italic;
}

.logoprint2 {
  float: right;
}

td.print_header_name {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 50px;
}

.cheque_tab_name {
  width: 237px;
  padding: 1px 0 0 18px;
  height: 22px;
  line-height: 23px;
  background: #008ebb;
  color: #fff;
  font-size: 12px;
  float: left;
  display: inline;
  margin: 0px 5px 5px 0;
  text-transform: uppercase;
}

.cheque_tab_con {
  position: relative;
  float: left;
  display: inline;
  width: 670px;
  padding: 18px;
  background: #e1e8f2;
  color: #555a61;
}

span.colblue {
  color: #008ebb;
}

a#but_imprimerbon {
  position: relative;
  float: left;
  margin-left: 14px;
  width: 213px;
  height: 19px;
  background: url(images/but_imprimerbon.png) no-repeat;
  text-indent: -999em;
  overflow: hidden;
  border: none;
  display: inline-block;
}

a#but_imprimerfacture {
  margin-left: 14px;
  margin-bottom: 10px;
  width: 153px;
  height: 19px;
  background: url(images/but_imprimerfacture.png) no-repeat;
  overflow: hidden;
  border: none;
  cursor: pointer;
  display: block;
  float: left;
}

.reponse_indent {
  background-color: #eee;
  margin-left: 12px;
  padding: 4px;
}

#fbcart_cart {
  position: relative;
  float: left;
  display: inline-block;
  width: 100%;
  background: #f1f1f1;
  font-size: .85rem;
  line-height: .9rem;
  margin-bottom: 20px;
}

#fbcart_cart span.name {
  font-size: .85rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 3px;
}

#fbcart_cart span.therest {
  font-size: .75rem;
}

#fbcart_cart th {
  background: #f1f1f1;
  text-align: center;
  padding: 3px 20px;
  border-bottom: 1px solid #e9e9e9;
  text-transform: uppercase;
  color: #008ebb;
  width: 14%;
  padding: 1rem;
  font-size: .8rem;
}

#fbcart_cart th.leftth {
  text-align: left;
  width: 40%;
}

#fbcart_cart th.nobackground {
  background: #f6f6f6;
  width: 10%;
  padding: 0;
}

#fbcart_cart th.leftth2 {
  text-align: left;
  width: 40%;
}

#fbcart_cart td {
  background: #f6f6f6 url("../images/bord.png") top left no-repeat;
  text-align: center;
  padding: 13px 2px 21px;
  vertical-align: top;
  border-bottom: 1px solid #e9e9e9;
}

#fbcart_cart td.lefttd {
  background: #f6f6f6;
  text-align: left;
  padding: 13px 20px 21px;
}

#fbcart_cart td.noprint {
  width: 5%;
}

#fbcart_check {
  position: relative;
  float: right;
  display: inline-block;
  width: 36%;
  height: auto;
  margin: 0 0 20px;
  padding: 0;
  border: 1px solid #e9e9e9;
}

#fbcart_check td.toleft {
  text-align: left;
  text-transform: uppercase;
  color: #008ebb;
  padding: .7rem;
  width: 100%;
  height: auto;
  border-bottom: 0;
  border-left: 0;
  font-size: .85rem;
  line-height: .85rem;
}

#fbcart_check td.toright {
  display: inline-block;
  text-align: right;
  padding: .7rem;
  width: 20%;
  min-width: 100px;
  height: auto;
  border-bottom: 0;
  border-left: 0;
  font-size: .85rem;
  line-height: .85rem;
}

#fbcart_address {
  position: relative;
  float: left;
  width: 59%;
  margin-right: 2%;
  height: auto;
  margin: 0 2% 20px 0;
  padding: 0;
  font-size: .85rem;
  line-height: .9rem;
  border: 1px solid #e9e9e9;
}

#fbcart_address th {
  padding: .7rem .7rem 0.7rem;
  text-transform: uppercase;
  color: #008ebb;
  width: 50%;
  height: 20px;
  text-align: left;
  font-size: .8rem;
}

#fbcart_address th.leftth {
  border-right: 1px solid #e9e9e9;
}

#fbcart_address td {
  padding: .7rem;
  font-size: .8rem;
  line-height: 12px;
  width: 50%;
  height: auto;
  vertical-align: top;
}

#fbcart_address td.lefttd {
  border-right: 1px solid #e9e9e9;
}

ul.lastMails,
ul.lastSms {
  font-size: 12px;
}

ul.lastMails li,
ul.lastSms li {
  list-style: none;
  list-style-type: none;
  list-style-image: none;
  font-size: 11px;
  line-height: 12px;
  margin-bottom: 5px;
}

.histo {
  margin-top: 5px;
}

.voirPlus, .voirPlus2,
.voirMoins, .voirMoins2 {
  display: inline-block;
  border: none;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
  background-color: transparent;
}

#newprod p {
  clear: both;
}

.alignR {
  display: inline-block;
  float: right;
  width: 180px;
}

.stockbtn {
  display: inline-block;
  box-sizing: border-box;
  margin-left: 5px;
  background: #ccc;
  font-size: 14px;
  color: #fff;
  padding: 3px 7px;
  text-decoration: none;
  height: 25px;
}

.stockbtn:hover {
  background: #fff;
  color: #ccc;
}

.colalt {
  background: #fbfbfb;
}

.colalert {
  background: #e29898;
}

.colwarn {
  background: #e6ce50;
}

.colgood {
  background: #9ada99;
}

.palert {
  background: #e29898;
  padding: 3px 5px;
  display: inline-block;
}

.pwarn {
  background: #e6ce50;
  padding: 3px 5px;
  display: inline-block;
}

.pgood {
  background: #9ada99;
  padding: 3px 5px;
  display: inline-block;
}

.error {
  color: red;
}

.stockAlert, .phoneAlert{
  background: -webkit-linear-gradient(left, #d95f5f, #d95f5f 24%, #fff 24%, #fff);
  background: -moz-linear-gradient(left, #d95f5f, #d95f5f 24%, #fff 24%, #fff);
  background: linear-gradient(left, #d95f5f, #d95f5f 24%, #fff 24%, #fff);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: inline-block;
  padding: 15px;
  margin-right: 10px;
  margin-top: 10px;
  width: 370px;
  height: 80px;
  position: relative;
  overflow: hidden;
}

.phoneAlert{
  background: -webkit-linear-gradient(left, #F9B610, #F9B610 24%, #fff 24%, #fff);
  background: -moz-linear-gradient(left, #F9B610, #F9B610 24%, #fff 24%, #fff);
  background: linear-gradient(left, #F9B610, #F9B610 24%, #fff 24%, #fff);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.phoneAlert .qte{
  position: absolute;
  top: 10px;
  right: 10px;
}

input.phoneBtn {
  width: 90px;
  font-size: 10px;
  border-radius:0;
  margin-bottom: 5px;
}
.comm{
  font-weight: bold;
  color: #d95f5f;
}
.stockAlert h2 {
  display: inline-block;
  width: 80px;
  vertical-align: top;
  margin-top: 5px;
  color: #4f2323;
  line-height: 15px;
}

.stockAlert h2 .code {
  display: block;
  margin-top: 5px;
}

.stockAlert li {
  display: inline-block;
  width: 170px;
  max-height: 60px;
  overflow: hidden;
  vertical-align: top;
}

.stockAlert .qte {
  text-align: right;
  font-weight: bold;
  color: #444;
  display: inline-block;
  width: 80px;
  vertical-align: top;
}

.closeButton {
  background: none;
  border: 0;
  position: absolute;
  padding: 0;
  top: 0;
  right: 5px;
  font-size: 14px;
  font-weight: normal;
  color: #444;
  cursor: pointer;
}

.editAd {
  display: block;
  width: 50%;
  float: none;
}

.editAdBtn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: #26a7d9;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.10);
  border: 0;
  border-radius: 3px;
  padding: 5px 10px;
}

.editAdBtn:hover {
  background: #ea2a6a;
  transition: .2s;
}

.changeFactForm {
  display: block;
  float: right;
}

tr.grized {
  background: #fbfbfb;
}

tr.grized td {
  color: #ccc;
}

.statuscol {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
}

.nobat {
  color: #fff;
}

.prevnext {
  background: #fff;
  border: 0;
  border-radius: 3px;
  display: inline-block;
  color: #ccc;
  height: 20px;
  cursor: pointer;
  font-size: 10px;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
}
.prevnext:hover{
  background: #26a7d9;
  color: #fff;
}

.gostock {
  text-transform: uppercase;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  background: #26a7d9;
  color: #fff;
  font-size: 14px;
  padding: 0 7px;
  text-decoration: none;
  height: 25px;
  border: 0;
  border-radius:3px;
  vertical-align: middle;
}

.gostock:hover {
  background: #ccc;
}

.formin{
  display: inline-block;
  margin-top: 10px;

}
.formin select {
  width: 200px;
  text-transform: uppercase;
}

#exportStock, #exportJournal{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: #fff;
  color: #413f3f;
  font-size: 14px;
  text-decoration: none;
  border: 0;
  height: 40px;
  padding: 5px 10px;
  width: auto;
  text-transform: uppercase;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.10);
}

#exportStock:hover, #exportJournal:hover{
  background: #ea2a6a;
  color: #fff;
}

audio {
  width: 1px;
  height: 1px;
}

.groupes {
  position: relative;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  vertical-align: top;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.groupes p {
  display: inline-block;
  vertical-align: top;
  width: 29%;
  float: left;
}

#set_group {
  display: inline-block;
  width: 70%;
  position: relative;
}
.groupes select {
  float: left;
  vertical-align: top;
  width: 69%;
}
.btnGroup {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
}

.canceled {
  margin-top: -25px;
  margin-bottom: 15px;
  float: right;
}

.retrait {
  position: absolute;
  width: 300px;
  height: auto;
  background: #555a61;
  color: #fff;
  top: 15px;
  right: 15px;
  z-index: 900;
  background: #d95f5f;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: inline-block;
  padding: 15px;
}
.retrait h3, .retrait button {
  color: #fff;
}

.clientfiles a {
  text-decoration: none;
  display: inline-block;
  text-align: left;
  width: 100%;
  line-height: 12px;
  font-size: 11px;
  margin-bottom: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid #ccc;
}
.clientfiles a.notimg{
  color: #ff8e00;
}
